In [11]:
import pandas as pd
df = pd.read_csv('student.csv',header=1)
df

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [20]:
df = pd.read_csv('student.csv',nrows=6)
df

  sushant  Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0      id        name      class       mark     gender
1       1    John Deo       Four         75     female
2       2    Max Ruin      Three         85       male
3       3      Arnold      Three         55       male
4       4  Krish Star       Four         60     female
5       5   John Mike       Four         60     female

In [28]:
df = pd.read_excel("alcohol.xlsx",na_values=['not avaliable','n.a.'])
df

,Unnamed: 0,Unnamed: 1,Series_reference,Period,value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,1935,Dec,ALCA.S1,1935.12,51.100000,FINAL,Litres,6,Alcohol Available for Consumption - ALC,(DISC) Volume & Volume Per Head,Beer,NaN,NaN,NaN,NaN
1,1936,Dec,ALCA.S1,1936.12,58.700000,FINAL,Litres,6,Alcohol Available for Consumption - ALC,(DISC) Volume & Volume Per Head,Beer,NaN,NaN,NaN,NaN
2,1937,Dec,ALCA.S1,1937.12,68.700000,FINAL,Litres,6,Alcohol Available for Consumption - ALC,(DISC) Volume & Volume Per Head,Beer,NaN,NaN,NaN,NaN
3,1938,Dec,ALCA.S1,1938.12,78.100000,FINAL,Litres,6,Alcohol Available for Consumption - ALC,(DISC) Volume & Volume Per Head,Beer,NaN,NaN,NaN,NaN
4,1939,Dec,ALCA.S1,1939.12,79.200000,FINAL,Litres,6,Alcohol Available for Consumption - ALC,(DISC) Volume & Volume Per Head,Beer,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13560,2021,Dec,ALCQ.SAZZ,2021.12,156.231872,FINAL,Litres,6,Alcohol Available for Consumption - ALC,Litres of Beverage,Total all beverages,NaN,NaN,NaN,NaN
13561,2022,Mar,ALCQ.SAZZ,2022.03,114.485861,FINAL,Litres,6,Alcohol Available for Consumption - ALC,Litres of Beverage,Total all beverages,NaN,NaN,NaN,NaN
13562,2022,Jun,ALCQ.SAZZ,2022.06,110.033064,FINAL,Litres,6,Alcohol Available for Consumption - ALC,Litres of Beverage,Total all beverages,NaN,NaN,NaN,NaN
13563,2022,Sep,ALCQ.SAZZ,2022.09,121.087105,FINAL,Litres,6,Alcohol Available for Consumption - ALC,Litres of Beverage,Total all beverages,NaN,NaN,NaN,NaN
13564,2022,Dec,ALCQ.SAZZ,2022.12,152.187695,PROVISIONAL,Litres,6,Alcohol Available for Consumption - ALC,Litres of Beverage,Total all beverages,NaN,NaN,NaN,NaN

In [33]:
df.to_csv('sushant.csv',index=False,header=1)

PermissionError: [Errno 13] Permission denied: 'sushant.csv'

In [30]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Series_reference', 'Period', 'value',
       'STATUS', 'UNITS', 'MAGNTUDE', 'Subject', 'Group', 'Series_title_1',
       'Series_title_2', 'Series_title_3', 'Series_title_4', 'Series_title_5'],
      dtype='object')

In [35]:
df.to_csv('sushant.csv',columns=['Period','value','STATUS'])

In [40]:
df.to_excel("sushant.xlsx",sheet_name='alcohol',startrow=1,startcol=1,index=False)

In [44]:
with pd.ExcelWriter('alco_sushant.xlsx') as writer:
    df_alco.to_excel(writer,sheet_name='alcohol_total')
    df_sushant.to_excel(writer,sheet_name='student')

IndexError: At least one sheet must be visible